body {
  background= white;
  font=family: Inria-Serif;
}
h1 {
  color:89262C;
  text-align: center;
}
.assign {
  display: flex;
  padding: 10px;
  margin: 10px;
  background: white;
}
.assign img {
  width: 200px;
  padding: 10px;
}
